In [1]:
import pandas as pd
import numpy as np
import time
import datetime as dt

# Importing coordinates
local = pd.read_csv(r"C:\Users\joaoa\Desktop\Doutoramento\Download ERA5\local.cvs")
local

      point  latitude  longitude
0         0      42.2       -8.2
1         1      42.1       -8.6
2         2      42.1       -8.5
3         3      42.1       -8.4
4         4      42.1       -8.3
...     ...       ...        ...
1007   1058      37.1       -7.8
1008   1059      37.1       -7.7
1009   1062      37.0       -8.0
1010   1063      37.0       -7.9
1011   1064      37.0       -7.8

[1012 rows x 3 columns]

In [2]:
# Creating columns
col_list = ["time"]

for row in range(0, len(local)):
    col_list.append('P' + (4-len(str(local.iloc[row,0])))*'0' + str(local.iloc[row,0]))

    
# Creating dataframe
Y = range(1950, 2023) #2023
P = range(0, 1012) #1012

for year in Y:
    i = time.time()
    y1 = pd.read_csv(r"D:\Precipitation\by_civil_year\era5land_" + str(year) + ".csv", compression = "zip")
    y2 = pd.read_csv(r"D:\Precipitation\by_civil_year\era5land_" + str(year+1) + ".csv", compression = "zip")
    
    df = pd.DataFrame(index = range(0, 8760), columns = col_list)
    df.iloc[:2208, 0] = y1.iloc[-2208:, 3]
    df.iloc[-6552:, 0] = y2.iloc[:6552, 3]
    
    for point in P:
        df.iloc[:2208, point+1] = y1.loc[y1["point"] == local.iloc[point, 0]].iloc[-2208:, 4]
        df.iloc[-6552:, point+1] = y2.loc[y2["point"] == local.iloc[point, 0]].iloc[:6552, 4]
        
    df.to_csv(r"D:\Precipitation\by_water_year\era5land_precipitation_" + str(year) + "_" + str(year+1) + ".csv", compression = "zip", index = False)
    print("Water year " + str(year) + "_" + str(year+1) + " downloaded. Time: " + str(int(time.time()-i)) + " seconds.")
df

Water year 1950_1951 downloaded. Time: 56 seconds.
Water year 1951_1952 downloaded. Time: 80 seconds.
Water year 1952_1953 downloaded. Time: 79 seconds.
Water year 1953_1954 downloaded. Time: 78 seconds.
Water year 1954_1955 downloaded. Time: 78 seconds.
Water year 1955_1956 downloaded. Time: 80 seconds.
Water year 1956_1957 downloaded. Time: 81 seconds.
Water year 1957_1958 downloaded. Time: 82 seconds.
Water year 1958_1959 downloaded. Time: 83 seconds.
Water year 1959_1960 downloaded. Time: 78 seconds.
Water year 1960_1961 downloaded. Time: 76 seconds.
Water year 1961_1962 downloaded. Time: 81 seconds.
Water year 1962_1963 downloaded. Time: 84 seconds.
Water year 1963_1964 downloaded. Time: 79 seconds.
Water year 1964_1965 downloaded. Time: 75 seconds.
Water year 1965_1966 downloaded. Time: 76 seconds.
Water year 1966_1967 downloaded. Time: 76 seconds.
Water year 1967_1968 downloaded. Time: 72 seconds.
Water year 1968_1969 downloaded. Time: 85 seconds.
Water year 1969_1970 downloaded. Time: 100 seconds.
Water year 1970_1971 downloaded. Time: 94 seconds.
Water year 1971_1972 downloaded. Time: 93 seconds.
Water year 1972_1973 downloaded. Time: 82 seconds.
Water year 1973_1974 downloaded. Time: 76 seconds.
Water year 1974_1975 downloaded. Time: 76 seconds.
Water year 1975_1976 downloaded. Time: 77 seconds.
Water year 1976_1977 downloaded. Time: 78 seconds.
Water year 1977_1978 downloaded. Time: 77 seconds.
Water year 1978_1979 downloaded. Time: 90 seconds.
Water year 1979_1980 downloaded. Time: 78 seconds.
Water year 1980_1981 downloaded. Time: 75 seconds.
Water year 1981_1982 downloaded. Time: 77 seconds.
Water year 1982_1983 downloaded. Time: 77 seconds.
Water year 1983_1984 downloaded. Time: 82 seconds.
Water year 1984_1985 downloaded. Time: 77 seconds.
Water year 1985_1986 downloaded. Time: 77 seconds.
Water year 1986_1987 downloaded. Time: 80 seconds.
Water year 1987_1988 downloaded. Time: 79 seconds.
Water year 1988_1989 downloaded. Time: 75 seconds.
Water year 1989_1990 downloaded. Time: 78 seconds.
Water year 1990_1991 downloaded. Time: 82 seconds.
Water year 1991_1992 downloaded. Time: 77 seconds.
Water year 1992_1993 downloaded. Time: 76 seconds.
Water year 1993_1994 downloaded. Time: 77 seconds.
Water year 1994_1995 downloaded. Time: 75 seconds.
Water year 1995_1996 downloaded. Time: 76 seconds.
Water year 1996_1997 downloaded. Time: 76 seconds.
Water year 1997_1998 downloaded. Time: 78 seconds.
Water year 1998_1999 downloaded. Time: 75 seconds.
Water year 1999_2000 downloaded. Time: 74 seconds.
Water year 2000_2001 downloaded. Time: 47 seconds.
Water year 2001_2002 downloaded. Time: 43 seconds.
Water year 2002_2003 downloaded. Time: 43 seconds.
Water year 2003_2004 downloaded. Time: 42 seconds.
Water year 2004_2005 downloaded. Time: 41 seconds.
Water year 2005_2006 downloaded. Time: 42 seconds.
Water year 2006_2007 downloaded. Time: 46 seconds.
Water year 2007_2008 downloaded. Time: 43 seconds.
Water year 2008_2009 downloaded. Time: 41 seconds.
Water year 2009_2010 downloaded. Time: 42 seconds.
Water year 2010_2011 downloaded. Time: 41 seconds.
Water year 2011_2012 downloaded. Time: 40 seconds.
Water year 2012_2013 downloaded. Time: 41 seconds.
Water year 2013_2014 downloaded. Time: 42 seconds.
Water year 2014_2015 downloaded. Time: 41 seconds.
Water year 2015_2016 downloaded. Time: 41 seconds.
Water year 2016_2017 downloaded. Time: 41 seconds.
Water year 2017_2018 downloaded. Time: 43 seconds.
Water year 2018_2019 downloaded. Time: 41 seconds.
Water year 2019_2020 downloaded. Time: 41 seconds.
Water year 2020_2021 downloaded. Time: 41 seconds.
Water year 2021_2022 downloaded. Time: 41 seconds.
Water year 2022_2023 downloaded. Time: 38 seconds.

,time,P0000,P0001,P0002,P0003,P0004,P0005,P0006,P0007,P0008,...,P1047,P1048,P1055,P1056,P1057,P1058,P1059,P1062,P1063,P1064
0,2022-10-01 00:00:00,0.000003,0.0,0.0,0.0,0.0,0.000003,0.000006,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022-10-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022-10-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022-10-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022-10-01 04:00:00,0.000001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2023-09-30 19:00:00,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,...,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002
8756,2023-09-30 20:00:00,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,...,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002
8757,2023-09-30 21:00:00,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,...,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002
8758,2023-09-30 22:00:00,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,...,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002
8759,2023-09-30 23:00:00,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,...,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002